<div class='center' {{#if haveFoto}} style="background-image: url('/images/foto-top');" {{/if}}>

  <div class='wrap-center-form'>
    <div class='center-form'>
      <h3>Загрузите {{#if haveFoto}}другое{{/if}} фронтальное фото</h3>
      <form action="/foto-top" method="post" enctype="multipart/form-data">
        <fieldset>
          <input class='center-button' type="file" name="foto_top">
        </fieldset>
        <fieldset>
          <input class='center-button' type="submit" value='Отправить'>
        </fieldset>
      </form>
    </div>
  </div>

</div>
