<div>
  <h3>Приложение для подсчета калорий на основе объема</h3>
  <div>
    <a href='/foto-front'>Начать!</a>
  <div>
</div>



<div class='center display-none' style="background-image: none;">
  <form action="/count" method="post">
    <ul>
      <li>
        <a href="/foto-front">Фронтальное фото</a>
      </li>
      <li>
        <a href="/foto-top">Фото сверху</a>
      </li>
      <li>
        <a href="/points-front">Точки фронтального фото</a>
      </li>
      <li>
        <a href="/points-top">Точки фото сверху</a>
      </li>
      <li>
        <a href="/scale">Маштабирование</a>
      </li>
      <li>
        <a href="/whole">Единственный вид еды занимает весь объем тарелки</a>
      </li>
      <li>
        <div>
          <a href="/obl-1">Область #1</a>
        </div>
        <div>
          <select name='food1'>
            <option value='1'>Картошка</option>
            <option value='2'>Мясо</option>
          </select>
        </div>
      </li>
      <li>
        <div>
          <a href="/obl-2">Область #2</a>
        </div>
        <div>
          <select name='food2'>
            <option value='1'>Картошка</option>
            <option value='2'>Мясо</option>
          </select>
        </div>
      </li>
      <li>
        <div>
          <a href="/obl-3">Область #3</a>
        </div>
        <div>
          <select name='food3'>
            <option value='1'>Картошка</option>
            <option value='2'>Мясо</option>
          </select>
        </div>
      </li>
    </ul>
    <fieldset>
      <input type="submit" value="Посчитать">
    </fieldset>
    <fieldset>
      <input type="button" value="Сбросить данные">
    </fieldset>
  </form>
</div>
