
<div>
  <h3>Присутствует только один вид еды</h3>
</div>

  <form action="/whole" method="post">
    <fieldset>
      <label>
        Вид еды
      </label>
      <select name="food">
        <option selected value='пюрэ из мяса птицы'>пюрэ из мяса птицы</option>
        <option value='морковка по-корейски'>морковка по-корейски</option>
      </select>
    </fieldset>
    <fieldset>
      <input class='center-button' type='submit' value='Ввод'>
    </fieldset>
  </form>
  <a href='/obl-1'><h3>Несколько видов еды</h3></a>
</div>
